
  @import '../_general.scss';
  .vinculofooter{
    cursor: pointer;
  }
  .colorVerde{
    color: #00CFB4;
  }
  .redes{
    display:flex;
    gap: 1rem;
  }
  
  .footer{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:baseline;
    font-size: $font_size;
    border-top: 0.15rem solid #00CFB4;

  }
  .footercolum{
    display: flex;
    flex-direction: column;
  }