@import "../_general.scss";
.vinculofooter {
  cursor: pointer;
}
.colorVerde {
  color: #00cfb4;
  word-wrap: break-word;
}
.redes {
  display: flex;
  gap: 1rem;
}
.container-footer {
  padding: 2.2rem 1.3rem;
  border-top: 0.15rem solid #00cfb4;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: $font_size;

  word-wrap: break-word;
}
@media (max-width: 1200px) {
  .footer {
    font-size: $font_size_xl_16;
  }
}
