$font_size: 1.25rem;
$font_size_10: 0.625rem;
$font_size_15: 0.9375rem;
/* Pagina Inicio */
$font_size_60: 3.75rem;
$font_size_50: 3.125rem;
$font_size_40: 2.4rem;
$font_size_18: 1.125rem;
$font_size_30: 1.875rem;
$font_size_25: 25px;
$font_size_27: 27px;
$font_size_23: 23px;

$font_size_xl_8: 0.5rem;
$font_size_xl_16: 1rem;
$font_size_xl_24: 1.5rem;
$font_size_xl_32: 2rem;
$font_size_xl_40: 2.5rem;
$font_size_xl_48: 3rem;
$font_size_xl_56: 3.5rem;
$font_size_xl_64: 4rem;