$font_size: 20px;
$font_size_10: 10px;
$font_size_15: 15px;
/* Pagina Inicio */
$font_size_60: 60px;
$font_size_50: 50px;
$font_size_40: 34px;
$font_size_18: 18px;
$font_size_30: 30px;
$font_size_25: 25px;
$font_size_27: 27px;
$font_size_23: 23px;